/* ---------------------------------------------- /*
 * Agro-chemicals
/* ---------------------------------------------- */
.import-section-heading {
	margin: 30px 0 15px;
	text-shadow: 2px 2px 8px rgb(0, 0, 0, 16%);
}

.agro-list-items {
	padding: 5px 0;
}

.agro-font {
	padding-right: 0;
}

.agro-content {
	/*padding-left: 0;*/
}

/* ---------------------------------------------- /*
 * SEMINIS Hybrid Seeds
/* ---------------------------------------------- */
.seminis-image-container {
	padding: 15px;
}

.seminis-pic-background {
	position: relative;
	height: 200px;
	padding: 0;
}

.anna_f1 {
	background: url("../img/anna_f1.jpg") no-repeat center center;
}

.jambar_f1 {
	background: url("../img/jambar_f1.jpg") no-repeat center center;
}

.victoria_f1 {
	background: url("../img/victoria_f1.jpg") no-repeat center center;
}

.eden_f1 {
	background: url("../img/eden_f1.jpg") no-repeat center center;
}

.anna_f1,
.jambar_f1,
.victoria_f1,
.eden_f1 {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Additional Products */
hr {
	width: 12%;
}
.additional-products {
	margin-top: 30px;
}

.jacto-pic-div,
.dk777-pic-div,
.clean-cook-pic-div,
.interceptor-pic-div {
	min-height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5%), 0 6px 20px 0 rgba(0, 0, 0, 5%);
}

.jacto-list-div,
.dk777-content-div,
.clean-cook-content-div,
.interceptor-content-div {
	padding: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------- /*
 * JACTO Manual Knapsack Sprayer
/* ---------------------------------------------- */
.jacto-pic-div {
	padding: 40px 15px;
}

.jacto-pic,
.jacto-pic-2 {
	width: 75%;
}

.jacto-font {
	padding-right: 15px;
}

/* ---------------------------------------------- /*
 * DK-777 Hybrid Maize Leku
/* ---------------------------------------------- */
.dk777-pic-div {
	background: url("../img/dk777x.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* -------------------------------------------------------------------------- /*
 * Clean Cook Stove + Ethanol
/* -------------------------------------------------------------------------- */
.clean-cook-pic {
	width: 80%;
}

/* ---------------------------------------------- /*
 * Long-Lasting Insecticidal Net - INTERCEPTOR
/* ---------------------------------------------- */
.interceptor-pic-div {
	background: url("../img/interceptor.jpg") no-repeat center left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.interceptor-paragraphs:last-child {
	margin: 0;
}

/* ---------------------------------------------- /*
 * Filler pic
/* ---------------------------------------------- */
.quality-pic {
	background: url("../img/dose-juice-sTPy-oeA3h0-unsplash.jpg") no-repeat center
		center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * Affiliations
/* ---------------------------------------------- */
.affiliations-icon-div {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
}

.affiliations-svg {
	height: 60px;
	fill: #ffffff;
}

.affiliation-logo img {
	width: 100px;
	height: 100px;
}

.affiliations-logo-container:nth-child(3) img {
	width: 110px;
}

.affiliations-title {
	padding-bottom: 40px;
	margin-bottom: 10px;
	font-weight: 500;
	color: #0fa626;
	text-transform: uppercase;
}

.affiliation-text {
	padding: 20px 10px;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	/* ---------------------------------------------- /*
	 * JACTO Manual Knapsack Sprayer
	/* ---------------------------------------------- */
	.jacto-pic,
	.jacto-pic-2 {
		width: 100%;
	}

	/* ---------------------------------------------- /*
 	* DK-777 Hybrid Maize Leku
	/* ---------------------------------------------- */
	.dk777-pic-div {
		min-height: 516.8px;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-logo-container {
		margin-bottom: 40px;
	}

	.affiliations-logo-container:nth-child(5),
	.affiliations-logo-container:nth-child(6) {
		margin-bottom: 0;
	}

	.affiliation-text {
		padding: 20px 50px;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* Additional Products */
	hr {
		width: 15%;
	}
	.dk777-pic-div {
		min-height: 667px;
	}

	.clean-cook-pic-div {
		min-height: 580px;
	}

	.interceptor-pic-div {
		min-height: 500px;
	}

	.jacto-list-div,
	.dk777-content-div,
	.clean-cook-content-div,
	.interceptor-content-div {
		padding: 40px 20px;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */

	.affiliation-logo img {
		width: 80px;
		height: 80px;
	}

	.affiliations-logo-container:nth-child(3) img {
		width: 90px;
	}

	.affiliation-text {
		padding: 20px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliation-text {
		padding: 20px 10px;
	}
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 737px) {
	/* Additional Products */
	hr {
		width: 20%;
	}

	.additional-products:last-child {
		margin-top: 0;
	}

	.jacto-list-div,
	.dk777-content-div,
	.clean-cook-content-div,
	.interceptor-content-div {
		border: none;
	}

	.interceptor-content-div {
		padding: 40px 20px 0;
	}

	.jacto-pic-div,
	.dk777-pic-div {
		min-height: 350px;
	}

	.clean-cook-pic-div,
	.interceptor-pic-div {
		min-height: 300px;
	}

	/* ---------------------------------------------- /*
	 * JACTO Manual Knapsack Sprayer
	/* ---------------------------------------------- */
	.jacto-pic,
	.jacto-pic-2 {
		width: 50%;
	}

	/* ---------------------------------------------- /*
 	 * DK-777 Hybrid Maize Leku
	/* ---------------------------------------------- */
	.dk777-pic-div {
		background: url("../img/dk777x.jpg") no-repeat bottom center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	/* -------------------------------------------------------------------------- /*
	 * Clean Cook Stove + Ethanol
	/* -------------------------------------------------------------------------- */
	.clean-cook-pic {
		width: 50%;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliation-text {
		padding: 20px 70px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 668px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliation-text {
		padding: 20px 50px;
	}
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
	/* Additional Products */
	hr {
		width: 25%;
	}

	/* ---------------------------------------------- /*
	 * JACTO Manual Knapsack Sprayer
	/* ---------------------------------------------- */
	.jacto-pic,
	.jacto-pic-2 {
		width: 75%;
	}

	/* -------------------------------------------------------------------------- /*
	 * Clean Cook Stove + Ethanol
	/* -------------------------------------------------------------------------- */
	.clean-cook-pic {
		width: 75%;
	}
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* Additional Products */
	hr {
		width: 40%;
	}

	.jacto-list-div,
	.dk777-content-div,
	.clean-cook-content-div {
		padding: 20px;
	}

	.interceptor-content-div {
		padding: 20px 20px 0;
	}

	/* ---------------------------------------------- /*
	 * JACTO Manual Knapsack Sprayer
	/* ---------------------------------------------- */
	.jacto-pic,
	.jacto-pic-2 {
		width: 100%;
	}

	/* -------------------------------------------------------------------------- /*
	 * Clean Cook Stove + Ethanol
	/* -------------------------------------------------------------------------- */
	.clean-cook-pic {
		width: 80%;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-title {
		padding-bottom: 20px;
	}

	.affiliations-logo-container {
		padding-top: 40px;
		margin-bottom: 0;
	}

	.affiliation-text {
		padding: 20px 90px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 376px) {
	/* ---------------------------------------------- /*
	 * JACTO Manual Knapsack Sprayer
	/* ---------------------------------------------- */

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliation-text {
		padding: 20px 70px;
	}
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliation-text {
		padding: 20px 50px;
	}
}
