/* ---------------------------------------------- /*
 * Affiliations
/* ---------------------------------------------- */
.affiliations-pic {
	padding-top: 20px;
}

.affiliations-pic img,
.affiliation-logo img {
	width: 100px;
	height: 100px;
}

.affiliations-logo-container:nth-child(3) img {
	width: 110px;
}

.affiliations-title {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 10px;
	font-weight: 500;
	color: #0a2540;
	text-transform: uppercase;
}

.affiliation-text {
	padding: 20px 10px;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-logo-container {
		margin-bottom: 40px;
	}

	.affiliations-logo-container:nth-child(5),
	.affiliations-logo-container:nth-child(6) {
		margin-bottom: 0;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */

	.affiliations-pic img,
	.affiliation-logo img {
		width: 80px;
		height: 80px;
	}

	.affiliations-logo-container:nth-child(3) img {
		width: 90px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-title {
		padding-bottom: 20px;
	}

	.affiliations-logo-container {
		padding-top: 40px;
		margin-bottom: 0;
	}

	.affiliation-text {
		padding: 20px 40px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
