/* ---------------------------------------------- /*
 * Agro-chemicals
/* ---------------------------------------------- */
.import-section-heading {
	margin: 30px 0 15px;
}

.agro-list-items {
	padding: 5px 0;
}

.agro-font {
	padding-right: 0;
}

.agro-content {
	/*padding-left: 0;*/
}

/* ---------------------------------------------- /*
 * SEMINIS Hybrid Seeds
/* ---------------------------------------------- */
.seminis-image-container {
	padding: 15px;
}

.seminis-pic-background {
	position: relative;
	height: 200px;
	padding: 0;
}

.anna_f1 {
	background: url("../img/anna_f1.jpg") no-repeat center center;
}

.jambar_f1 {
	background: url("../img/jambar_f1.jpg") no-repeat center center;
}

.victoria_f1 {
	background: url("../img/victoria_f1.jpg") no-repeat center center;
}

.eden_f1 {
	background: url("../img/eden_f1.jpg") no-repeat center center;
}

.anna_f1,
.jambar_f1,
.victoria_f1,
.eden_f1 {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * Filler pic
/* ---------------------------------------------- */
.quality-pic {
	background: url("../img/dose-juice-sTPy-oeA3h0-unsplash.jpg") no-repeat center
		center;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * Affiliations
/* ---------------------------------------------- */
.affiliations-icon-div {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
	background-color: #aff1b6;
}

.affiliations-svg {
	height: 60px;
	fill: #e6ede0;
}

.affiliation-logo img {
	width: 100px;
	height: 100px;
}

.affiliations-logo-container:nth-child(3) img {
	width: 110px;
}

.affiliations-title {
	padding-bottom: 40px;
	margin-bottom: 10px;
	font-weight: 500;
	color: #0fa626;
	text-transform: uppercase;
}

.affiliation-text {
	padding: 20px 10px;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-logo-container {
		margin-bottom: 40px;
	}

	.affiliations-logo-container:nth-child(5),
	.affiliations-logo-container:nth-child(6) {
		margin-bottom: 0;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */

	.affiliation-logo img {
		width: 80px;
		height: 80px;
	}

	.affiliations-logo-container:nth-child(3) img {
		width: 90px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-title {
		padding-bottom: 20px;
	}

	.affiliations-logo-container {
		padding-top: 40px;
		margin-bottom: 0;
	}

	.affiliation-text {
		padding: 20px 40px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
