.cluster-background {
    width: 40px;
    height: 40px;
    background-color: #ffbf2a;
    border-radius: 50%;
}

.cluster-display {
    font-size: 1.1rem;
    font-weight: 700;
    color: #ffbf2a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
}

.pin {
    width: 30px;
    height: 15px;
    position: relative;
    background-color: #ffbf2a;
    cursor: pointer;
}

.pin:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #0b010a;
}

.pin:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #0b010a;
}

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 25%;
    bottom: -17px;
    transform: rotateX(55deg);
    z-index: -2;
}
.pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #0b010a;
    animation-delay: 1.1s;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

/* Info Window */
.closer {
    width: 22px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
    font-size: 1.5em;
}

.pin-div {
    position: relative;
}

.info-window {
    width: 124px;
    height: auto;
    position: absolute;
    bottom: 33px;
    left: -47px;
    background: #fff;
    padding: 10px 12px;
    border: 1px solid #0b010a;
    border-radius: 5px;
    z-index: 1;
}

.info-window:before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 40%;
    width: 10%;
    height: 7px;
    background: #fff;
    transform: skew(0deg, 20deg);
    border-left: 1px solid #0b010a;
    border-bottom: 1px solid #0b010a;
}

.info-window:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 40%;
    width: 10%;
    height: 7px;
    background: #fff;
    transform: skew(0deg, -20deg);
    border-right: 1px solid #0b010a;
    border-bottom: 1px solid #0b010a;
}

.info-name {
    margin-bottom: 5px;
}

.info-window-button {
    text-transform: none !important;
    font-size: 12px;
    border: 1px solid #0b010a;
    background: #0b010a;
    color: #fff;
}

.info-window-button:hover {
    color: #fff;
}

.fa-map-marked-alt,
.fa-phone-square {
    margin-right: 2px;
}

.info-window-button .fas {
    margin-left: 2px;
    font-size: 14px;
    color: #ffbf2a;
}

.location-name {
    color: #0b010a;
}
