/* ---------------------------------------------- /*
 * ABOUT US
/* ---------------------------------------------- */
.about-us h5 {
	font-weight: 700;
}

.profile-card-container {
	padding: 15px;
}

.profile-card {
	min-height: 203px;
	padding: 25px 40px;
	border-radius: 20px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5%), 0 6px 20px 0 rgba(0, 0, 0, 5%);
}

.svgs {
	width: 40px;
	height: 40px;
	fill: #0fa626;
}

.profile-card-title {
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 0;
}

.profile-card-content {
	padding-left: 0;
}

.profile-card-content-margin {
	margin-top: 20px;
	margin-bottom: 0;
}

.logo-svg {
	width: 100px;
}

/* ---------------------------------------------- /*
 * Filler pic
/* ---------------------------------------------- */
.ecology-pic {
	background: url("../img/ecology.jpg") no-repeat center center;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * Objectives
/* ---------------------------------------------- */
.objectives-list-container {
	padding: 60px 20px 0;
}

.objectives-icon-div {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
}

.bi-bullseye {
	width: 50px;
	height: 50px;
	fill: #ffffff;
}

.objectives-title {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

.objectives-list-div {
	min-height: 140px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
}

.objectives-list-font-div {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
}

.objectives-text {
	font-size: 0.8rem;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	/* ---------------------------------------------- /*
	 * ABOUT US
	/* ---------------------------------------------- */
	.profile-card-content,
	.profile-card-title {
		padding-left: 15px;
	}

	/* ---------------------------------------------- /*
	 * Objectives
	/* ---------------------------------------------- */
	.objectives-list-div {
		min-height: 175px;
	}

	.objectives-list-font-div {
		height: 30px;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* ---------------------------------------------- /*
	 * ABOUT US
	/* ---------------------------------------------- */
	.profile-card {
		min-height: 218px;
		padding: 25px 20px;
	}

	.svgs {
		width: 35px;
		height: 35px;
	}

	/* ---------------------------------------------- /*
	 * Objectives
	/* ---------------------------------------------- */
	.objectives-list-div-wrapper {
		padding: 15px;
	}

	.objectives-list-font-div {
		height: 40px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
	/* ---------------------------------------------- /*
	 * ABOUT US
	/* ---------------------------------------------- */
	.profile-card {
		min-height: 241px;
	}

	.profile-card-title {
		font-size: 1.2rem;
		margin-top: 10px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 668px) {
	/* ---------------------------------------------- /*
	 * ABOUT US
	/* ---------------------------------------------- */
	.profile-card {
		min-height: 226px;
	}
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 416px) {
	/* ---------------------------------------------- /*
	 * ABOUT US
	/* ---------------------------------------------- */
	.profile-card-container {
		min-height: 200px;
		padding: 15px;
	}

	.profile-card-container:last-child {
		padding-bottom: 0;
	}

	/* ---------------------------------------------- /*
	 * Objectives
	/* ---------------------------------------------- */
	.objectives-list-container {
		padding: 20px 0 0;
	}

	.objectives-list-font-div {
		height: 40px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 376px) {
	/* ---------------------------------------------- /*
	 * Objectives
	/* ---------------------------------------------- */
	.objectives-list-font-div {
		height: 35px;
	}
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
