/* ---------------------------------------------- /*
 * Footer top
/* ---------------------------------------------- */

.footer-top {
	padding: 20px 20px 40px;
}

.footer-content {
}

.footer-title {
	font-size: 1.5rem;
	text-shadow: 2px 2px 8px rgb(0, 0, 0, 16%);
	margin-top: 20px;
}

.footer-icon {
	color: #7cae84;
	opacity: 0.5;
	font-size: 24px;
	margin-top: 20px;
	margin-right: 15px;
}

.larger-icon {
	font-size: 28px;
}

.footer-text a {
	text-decoration: none;
	color: #707070;
	opacity: 0.75;
	margin-bottom: 20px;
}

/* ---------------------------------------------- /*
 * Footer bottom
/* ---------------------------------------------- */

.footer-bottom {
	padding: 20px;
}

.design-credit,
.initials a,
.my-name a,
.github a {
	text-decoration: none;
}

.initials {
	font-family: "Princess Sofia", cursive;
	font-weight: bold;
}

.initials a {
	color: #ff530d;
}

/*.my-name {
	font-family: "Open Sans", sans-serif;
}*/

.side-borders {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.github a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #00d4ff;
}

.initials a:hover,
.my-name a:hover,
.github a:hover {
	color: #fff;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	.side-borders {
		border-left: none;
		border-right: none;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
	.design-credit {
		padding-top: 20px;
	}
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 376px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
