/* ---------------------------------------------- /*
 * Carousel
/* ---------------------------------------------- */
.intro-pic-background {
	height: 450px;
	padding: 0;
}

.intro-pic-1 {
	background: url("../img/rachel-clark-_1wChzif1EM-unsplash.jpg") no-repeat
		center center;
}

.intro-pic-2 {
	background: url("../img/specialty.jpg") no-repeat center center;
}

.intro-pic-3 {
	background: url("../img/unwashed.jpg") no-repeat center center;
}

.intro-pic-1,
.intro-pic-2,
.intro-pic-3 {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-indicators {
	bottom: 40px;
}

.carousel-indicators li {
	background-color: #fff;
}

.intro-pic-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.4);
}

/* ---------------------------------------------- /*
 * Who we are
/* ---------------------------------------------- */
.profile-link-btn {
	color: #ffffff;
	font-weight: 500;
	background-color: #000000;
	padding: 5px 20px;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
}

.profile-link-btn:hover {
	color: #ffffff;
}

/* ---------------------------------------------- /*
 * What we offer
/* ---------------------------------------------- */
.what-we-offer-card-container {
	padding: 15px;
}

.what-we-offer-pic-1 {
	background: url("../img/spices.jpg") no-repeat center center;
}

.what-we-offer-pic-2 {
	background: url("../img/pulses.jpg") no-repeat top center;
}

.what-we-offer-pic-1,
.what-we-offer-pic-2 {
	height: 250px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.what-we-offer-card-font,
.what-we-offer-card-title {
	padding-top: 15px;
	padding-bottom: 15px;
}

.fa-box-open,
.fa-shipping-fast {
	font-size: 1.5rem;
}

.what-we-offer-card-text {
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5%), 0 6px 20px 0 rgba(0, 0, 0, 5%);
}

.what-we-offer-btn {
	color: #000000;
	font-weight: 600;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 5px 20px;
}

.what-we-offer-btn:hover {
	color: #000000;
}

/* ---------------------------------------------- /*
 * Benefits
/* ---------------------------------------------- */
.benefit-icon-div {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
}

.bi-graph-up {
	width: 40px;
	height: 40px;
	fill: #ffffff;
}

.benefits-title {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

.benefits-list-div {
	padding: 40px 40px 0;
}

.benefits-list-item {
	padding: 2px 0;
}
/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1367px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	/* ---------------------------------------------- /*
	 * What we offer
	/* ---------------------------------------------- */
	.what-we-offer-card-text {
		padding: 30px 21px;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 275px;
	}

	.carousel-indicators {
		bottom: 0;
	}

	/* ---------------------------------------------- /*
	 * What we offer
	/* ---------------------------------------------- */
	.what-we-offer-card-text {
		padding: 30px 42px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 350px;
	}
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 300px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 668px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 275px;
	}
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 300px;
	}
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 416px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 350px;
	}

	.intro-pic-overlay {
		padding: 0 15px;
	}

	/* ---------------------------------------------- /*
	 * What we offer
	/* ---------------------------------------------- */
	.what-we-offer-card-text {
		padding: 20px;
	}

	.fa-box-open,
	.fa-shipping-fast {
		font-size: 1.2rem;
	}

	/* ---------------------------------------------- /*
	 * Benefits
	/* ---------------------------------------------- */
	.benefits-list-div {
		padding: 30px 30px 0;
	}

	.benefits-list-item .col-11 {
		padding-left: 15px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 376px) {
}

/* Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 400px;
	}
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
	/* ---------------------------------------------- /*
	 * Carousel
	/* ---------------------------------------------- */
	.intro-pic-background {
		height: 350px;
	}
}
