.website-under-dev-pic {
	background: url("../img/rachel-clark-_1wChzif1EM-unsplash.jpg") no-repeat top
		center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * WHO WE ARE
/* ---------------------------------------------- */
.who-we-are h5 {
	font-weight: 700;
}

.large-text {
	font-size: 40px;
	font-weight: 500;
	margin-right: 10px;
	margin-bottom: 30px;
	letter-spacing: -0.5px;
	color: #0a2540;
}

.card-container {
	min-height: 250px;
	padding: 20px;
}

.card {
	min-height: 220px;
	padding: 20px 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5%), 0 6px 20px 0 rgba(0, 0, 0, 5%);
}

.card-title {
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 0;
}

.svgs {
	width: 40px;
	height: 40px;
	fill: #0a2540;
}

.card-content-margin {
	margin-top: 20px;
}

.logo-svg {
	width: 100px;
}

/* ---------------------------------------------- /*
 * Our Main Exportable Products
/* ---------------------------------------------- */
.exportable-products {
	padding-bottom: 30px;
}

.unwashed {
	height: 200px;
	background: url("../img/unwashed.jpg") no-repeat center center;
	background-size: cover;
}

.washed {
	height: 200px;
	background: url("../img/washed.jpg") no-repeat center center;
	background-size: cover;
}

.specialty {
	height: 200px;
	background: url("../img/specialty.jpg") no-repeat center center;
	background-size: cover;
}

.spices {
	height: 200px;
	background: url("../img/spices.jpg") no-repeat center center;
	background-size: cover;
}

.roasted-and-ground {
	height: 200px;
	background: url("../img/roasted-and-ground.jpg") no-repeat center center;
	background-size: cover;
}

.export-content {
	min-height: 166px;
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5%), 0 6px 20px 0 rgba(0, 0, 0, 5%);
}

.export-title {
	margin-bottom: 10px;
	font-weight: 500;
	color: #0a2540;
}

.export-list ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
}

.export-list i {
	color: #0fa626;
	margin-right: 10px;
}

/* ---------------------------------------------- /*
 * Experience
/* ---------------------------------------------- */
.experience {
	padding: 30px 0 60px;
}

.experience-svg {
	width: 300px;
	opacity: 0.8;
}

.experience-paragraph {
	margin-bottom: 0;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1367px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* ---------------------------------------------- /*
	 * WHO WE ARE
	/* ---------------------------------------------- */
	.card-container {
		min-height: 200px;
		padding: 5px 15px;
	}

	.card-title {
		font-size: 1.2rem;
		padding-left: 15px;
	}

	.larger-text {
		font-size: 2rem;
	}

	/* ---------------------------------------------- /*
	 * Our Main Exportable Products
	/* ---------------------------------------------- */
	.export-content {
		margin-bottom: 15px;
	}

	.export-list-arrow {
		margin-right: 10px;
	}

	/* ---------------------------------------------- /*
	 * Experience
	/* ---------------------------------------------- */
	.experience-svg {
		width: 250px;
		height: 175px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
