.scroll-up-button {
	width: 20px;
	height: 40px;
	border: 2px solid #0fa626;
	border-radius: 5px;
	position: fixed;
	bottom: 80px;
	right: 40px;
	z-index: 10;
	cursor: pointer;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	.scroll-up-button {
		bottom: 150px;
		right: 10px;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	.scroll-up-button {
		right: 20px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
	.scroll-up-button {
		right: 10px;
	}
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
	.scroll-up-button {
		right: 5px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
