/* ---------------------------------------------- /*
 * Global
/* ---------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,900);

body {
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
}

a {
	text-decoration: none !important;
}

ul {
	list-style: none;
	padding: 0;
}

.common-button {
	border-radius: 5px;
}

.subscription-submit-button {
	border-radius: 0;
}

.arrow {
	padding-left: 10px;
}

/* Size */
.full-height {
	height: 100%;
}

.full-width {
	width: 100% !important;
}

/* Alignment */
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

/* Flex */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-left {
	display: flex;
	justify-content: left;
	align-items: center;
}

.flex-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-top {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.flex-bottom {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

/* Padding */
.default-padding {
	padding: 0 15px;
}
.no-pad {
	padding: 0;
}

.no-top-pad {
	padding-top: 0;
}

.no-bottom-pad {
	padding-bottom: 0;
}

.no-left-pad {
	padding-left: 0;
}

.no-right-pad {
	padding-right: 0;
}

.top-padding {
	padding-top: 30px;
}

.large-top-padding {
	padding-top: 60px;
}

.large-bottom-padding {
	padding-bottom: 60px;
}

.x-large-bottom-padding {
	padding-bottom: 70px;
}

/* Margin */
.auto-margin {
	margin: auto;
}

.no-mar {
	margin: 0;
}

.no-top-margin {
	margin-top: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.small-bottom-margin {
	margin-bottom: 30px !important;
}

/* Font size */
.large-text {
	font-size: 60px;
	font-weight: 500;
	margin-right: 10px;
	margin-bottom: 30px;
	letter-spacing: -0.5px;
	color: #000000;
}

/* Font-weight */
.bold {
	font-weight: bold;
}

/* Font-style */
.italic {
	font-style: italic;
}

/* Text decoration */
.underline {
	text-decoration: underline;
}

/* Color */
.black {
	color: #000000;
}

.light-blue {
	color: #f6f9fc;
}

.green {
	color: #0f5c07 !important;
}

.green-2 {
	color: #0fa626;
}

.grey {
	color: #707070 !important;
}

.olive {
	color: #59633b !important;
}

.orange {
	color: #ff530d !important;
}

.purple {
	color: #f2dcf1 !important;
}

.white {
	color: #ffffff !important;
}

.yellow {
	color: #f6f70a !important;
}

/* Background Color*/
.green-back {
	background-color: #0f5c07 !important;
}

.green-2-back {
	background-color: #0fa626 !important;
}

.light-green-back {
	background-color: #e6ede0 !important;
}

.grey-back {
	background-color: #707070 !important;
}

.white-back {
	background-color: #fff !important;
}

.black-back {
	background-color: #000000 !important;
}

/* Forms */
.form-group {
	margin-bottom: 10px;
}

.form-control {
	border-radius: 0;
}

/* SVG */

/* Potential SVG colors form Logo colors*/
.green-svg {
	color: #3b8044;
}

.light-green-svg {
	color: #7bb457;
}

.lighter-green.svg {
	color: #7cae84;
}

.olive-svg {
	color: #59633b;
}

/* Banner Pictures */
.banner-pic {
	height: 300px;
	position: relative;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.3);
}

/* Alerts */
.alert {
	margin-top: 20px;
}

/* Filler pic */
.filler-pic-background {
	position: relative;
	height: 500px;
	padding: 0;
}

.filler-pic-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.4);
	padding: 0 15px;
}

/*.filler-content {
	padding: 40px 15px;
}*/

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* Filler pic */
	.top-margin-on-small {
		margin-top: 30px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
	.container,
	.container-sm {
		max-width: 100%;
	}

	.landing-main-div .container,
	.import-main-div .container,
	.export-main-div .container,
	.profile-main-div .container,
	.contact-main-div .container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	.large-text {
		font-size: 40px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 376px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}

/* z-index record*/
/* lowest -2 */
/* Marker.css -2 and 1 */
/* ScrollUpButton.css 10 */
/* highest 10 */
