/* ---------------------------------------------- /*
 * Our Main Exportable Products
/* ---------------------------------------------- */
.exportable-products {
	padding-bottom: 30px;
}

.coffee {
	padding-top: 1px;
}

.unwashed {
	background: url("../img/unwashed.jpg") no-repeat center center;
}

.washed {
	background: url("../img/washed.jpg") no-repeat center center;
}

.specialty {
	background: url("../img/specialty.jpg") no-repeat center center;
}

.roasted-and-ground {
	background: url("../img/roasted-and-ground.jpg") no-repeat center center;
}

.oil-seeds {
	background: url("../img/engin-akyurt-H7I5LCBWOjQ-unsplash.jpg") no-repeat
		center center;
}

.pulses {
	background: url("../img/pulses.jpg") no-repeat center center;
}

.spices {
	background: url("../img/spices.jpg") no-repeat center center;
}

.unwashed,
.washed,
.specialty,
.roasted-and-ground,
.oil-seeds,
.pulses,
.spices {
	height: 250px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.export-content {
	min-height: 166px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5%), 0 6px 20px 0 rgba(0, 0, 0, 5%);
}

.export-title {
	padding: 5px 15px;
	font-weight: 500;
	color: #ffffff;
	background-color: #0fa626;
}

.oil-seeds-min-height {
	min-height: 174px;
}

.export-list ul {
	list-style: none;
	padding: 15px;
	margin-bottom: 30px;
}

.export-list i {
	color: #0fa626;
	margin-right: 10px;
}

/* ---------------------------------------------- /*
 * Experience
/* ---------------------------------------------- */
.experience {
	padding: 30px 0 60px;
}

.experience-svg {
	width: 300px;
}

.experience-paragraph {
	margin-bottom: 0;
}

/*******************************************Media Queries************************************************/

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	.oil-seeds-min-height {
		min-height: 261px;
	}

	.export-list ul {
		padding: 15px 15px 30px;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* ---------------------------------------------- /*
	 * Our Main Exportable Products
	/* ---------------------------------------------- */
	.export-content {
		margin-bottom: 15px;
	}

	.oil-seeds-min-height {
		min-height: 141px;
	}

	.export-list-arrow {
		margin-right: 10px;
	}

	/* ---------------------------------------------- /*
	 * Experience
	/* ---------------------------------------------- */
	.experience-svg {
		width: 250px;
		height: 175px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
