/* ---------------------------------------------- /*
 * Drop Us A Line
/* ---------------------------------------------- */
.dropusaline {
	padding-bottom: 93px;
}

.dropusaline-pic {
	height: 450px;
	background: url("../img/drop_us_a_line.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * Means of Contact
/* ---------------------------------------------- */
.means-of-contact {
	padding-bottom: 30px;
}

.means {
	margin-top: -120px;
}

.means .white-back {
	box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
}

.means-vector {
	padding: 40px 0 0;
}

.contact-us-svg {
	width: 100px;
	fill: #0f5c07;
}

.means-title {
	font-weight: 600;
	margin-bottom: 20px;
}

.means-content {
	padding: 40px 0;
}

.means-text {
	margin-bottom: 30px;
}

.webkit-order {
	order: 2;
	-webkit-order: 2;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #ffffff;
}

.circle i {
	font-size: 0.8rem;
}

/* ---------------------------------------------- /*
 * Visit our location
/* ---------------------------------------------- */
.radius-map > div > div {
	border-radius: 20px;
}

/* --------------------------------------------------------------------------------------------------------- /*
 *                                                Media Queries
/* --------------------------------------------------------------------------------------------------------- */

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	.dropusaline-pic {
		height: 400px;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */
	.dropusaline {
		padding-bottom: 60px;
	}

	.dropusaline-pic {
		margin-top: 0;
		height: 350px;
		margin-bottom: 60px;
	}

	.webkit-order {
		order: 0;
		-webkit-order: 0;
	}

	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means {
		/*padding: 0 20px;*/
	}

	.means-text {
		padding: 0 10px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
	.contact-main-div .white-back .container {
		padding-top: 30px;
	}

	.dropusaline-pic {
		margin-bottom: 30px;
	}
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */

	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means {
		margin-top: 0;
		margin-bottom: 50px;
		padding: 0 100px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means {
		padding: 0 15px;
	}
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */
	.feedback-form {
		/*padding-top: 20px;*/
	}

	.dropusaline-pic {
		height: 320px;
		margin-bottom: 60px;
	}

	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means-of-contact {
		padding-bottom: 0;
	}

	.means {
		margin-bottom: 30px;
	}

	.contact-us-map {
		/*padding: 0 30px;*/
	}

	.means:last-child {
		margin-bottom: 0;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */
	.dropusaline-pic {
		height: 300px;
		margin-bottom: 40px;
	}
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
	.dropusaline-pic {
		height: 250px;
	}
}
