/* ---------------------------------------------- /*
 * Drop Us A Line
/* ---------------------------------------------- */
.dropusaline {
	padding-bottom: 93px;
}

.dropusaline-pic {
	height: 450px;
	background: url("../img/drop_us_a_line.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ---------------------------------------------- /*
 * Means of Contact
/* ---------------------------------------------- */
.means-of-contact {
	padding-bottom: 30px;
}

.means {
	margin-top: -120px;
}

.means .white-back {
	box-shadow: 5px 10px 18px #888888;
}

.means-vector {
	padding: 60px 0;
}

.contact-us-svg {
	width: 100px;
	fill: #ffffff;
}

.means-title {
	font-weight: 600;
	margin-bottom: 20px;
}

.means-content {
	padding: 40px 0;
}

.means-text {
	margin-bottom: 30px;
}

.webkit-order {
	order: 2;
	-webkit-order: 2;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #ffffff;
}

.circle i {
	font-size: 0.8rem;
}

/* ---------------------------------------------- /*
 * Affiliations
/* ---------------------------------------------- */
.affiliations-pic {
	padding-top: 20px;
}

.affiliations-pic img,
.affiliation-logo img {
	width: 100px;
	height: 100px;
}

.affiliations-logo-container:nth-child(3) img {
	width: 110px;
}

.affiliations-title {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 10px;
	font-weight: 500;
	color: #0a2540;
	text-transform: uppercase;
}

.affiliation-text {
	padding: 20px 10px;
}

/* --------------------------------------------------------------------------------------------------------- /*
 *                                                Media Queries
/* --------------------------------------------------------------------------------------------------------- */

/* iPad Pro*/
@media (max-width: 1366px) {
}

/* Small devices (landscape phones, less than 1124px)*/
@media (max-width: 1124px) {
	.dropusaline-pic {
		height: 400px;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-logo-container {
		margin-bottom: 40px;
	}

	.affiliations-logo-container:nth-child(5),
	.affiliations-logo-container:nth-child(6) {
		margin-bottom: 0;
	}
}

/* iPhone X or similar phones (landscape, less than 823)*/
@media (max-width: 823px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */
	.dropusaline {
		padding-bottom: 60px;
	}

	.dropusaline-pic {
		margin-top: 0;
		height: 350px;
		margin-bottom: 60px;
	}

	.webkit-order {
		order: 0;
		-webkit-order: 0;
	}

	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means {
		padding: 0 20px;
	}

	.means-text {
		padding: 0 10px;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */

	.affiliations-pic img,
	.affiliation-logo img {
		width: 80px;
		height: 80px;
	}

	.affiliations-logo-container:nth-child(3) img {
		width: 90px;
	}
}

/* iPad Portrait less than 768*/
@media (max-width: 768px) {
	.contact-main-div .white-back .container {
		padding-top: 30px;
	}

	.dropusaline-pic {
		margin-bottom: 30px;
	}
}

/* Small devices (landscape phones, less than 736px)*/
@media (max-width: 736px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */
	.drop-us-a-line-subtitle {
		margin-bottom: 0 !important;
	}

	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means {
		margin-top: 0;
		margin-bottom: 50px;
		padding: 0 100px;
	}
}

/* Small devices (landscape phones, less than 667px)*/
@media (max-width: 667px) {
}

/* Extra small devices (portrait phones, less than 480px)*/
@media (max-width: 480px) {
}

/* Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 415px) {
	/* ---------------------------------------------- /*
	 * Drop us a line
	/* ---------------------------------------------- */
	.feedback-form {
		padding-top: 20px;
	}

	.dropusaline-pic {
		height: 320px;
		margin-bottom: 60px;
	}

	/* ---------------------------------------------- /*
	 * Means of Contact
	/* ---------------------------------------------- */
	.means-of-contact {
		padding-bottom: 0;
	}

	.means {
		margin-bottom: 30px;
		padding: 0 30px;
	}

	.means:last-child {
		margin-bottom: 0;
	}

	/* ---------------------------------------------- /*
	 * Affiliations
	/* ---------------------------------------------- */
	.affiliations-title {
		padding-bottom: 20px;
	}

	.affiliations-logo-container {
		padding-top: 40px;
		margin-bottom: 0;
	}

	.affiliation-text {
		padding: 20px 40px;
	}
}

/* Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}
